<form class="form" method="post" action="/expenses">
  <% inputs.each do |input| %>
    <%= input.to_s %>
  <% end %>
  <fieldset class="radio">
    <legend>Type</legend>
    <label>
      <input type="radio" name="type" value="in" checked="checked" />
      In
    </label>
    <label>
      <input type="radio" name="type" value="out" />
      Out
    </label>
  </fieldset>
  <button class="button" type="submit">Submit</button>
</form>
