<!doctype html>
<html>
<head>
  <title>Money, money, money. Money.</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet" />
  <link href="/stylesheet.css" rel="stylesheet" />
</head>
<body>
  <h1>Money, money, money. Money.</h1>
  <%= content %>
</body>
</html>
